<ng-template #insertModel>
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()" class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Insèrer Modèle</h3>

            <!--begin::Close-->
            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" (click)="close()" data-bs-dismiss="modal"
                aria-label="Close">
                <span class="svg-icon svg-icon-2x">X</span>
            </div>
            <!--end::Close-->
        </div>

        <div class="modal-body">



            <!--begin::Input group-->
            <div class="fv-row mb-10">
                <!--begin::Label-->
                <label class="form-label">Nom de la Marque</label>
                <!--end::Label-->

                <!--begin::Input-->
                <div class="d-flex align-items-center content-step">
                    <select name="" id="" class="form-control form-control-solid " formControlName="brandName" [ngClass]="{
                        'is-invalid':  (inputForm.controls['brandName'].value.length != 0 && inputForm.controls['brandName'].invalid) || (submitted  && inputForm.controls['brandName'].invalid),
                        'is-valid': inputForm.controls['brandName'].value.length != 0 && inputForm.controls['brandName'].valid 
                    }">
                        <option value=""></option>
                        <option *ngFor="let brand of brandList" [value]="brand.brandName">
                            {{toCamelCase(brand.brandName)}}
                        </option>
                    </select>

                </div>
                <!--end::Input-->

                <div class="error-description">
                    <span *ngIf="submitted && inputForm.controls['brandName'].errors?.required">
                        La nom de la marque est obligatoire
                    </span>
                </div>
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="fv-row mb-10">
                <!--begin::Label-->
                <label class="form-label">Nom de Modèle</label>
                <!--end::Label-->

                <!--begin::Input-->
                <div class="d-flex align-items-center content-step">
                    <input type="text" class="form-control form-control-solid" formControlName="model"
                        placeholder="" value="" [ngClass]="{
                        'is-invalid':  (inputForm.controls['model'].value.length != 0 && inputForm.controls['model'].invalid) || (submitted  && inputForm.controls['model'].invalid),
                        'is-valid': inputForm.controls['model'].value.length != 0 && inputForm.controls['model'].valid 
                        }"
                    />
                    <!-- <a class="no-wrap pointer">Ajouter un modèle</a> -->
                    
                </div>
                <!--end::Input-->

                <div class="error-description">
                    <span *ngIf="submitted && inputForm.controls['model'].errors?.required">
                        La modèle est obligatoire
                    </span>
                </div>
            </div>
            <!--end::Input group-->

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="close()">Fermer</button>
            <button type="submit" class="btn btn-primary">
                <ng-container *ngIf="(loading$ | async) === false">
                    <span class="indicator-label"> Sauvegarder Modèle </span>
                </ng-container>
                <ng-container *ngIf="loading$ | async">
                    <span class="indicator-progress" [style.display]="'block'">
                        Please wait...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </ng-container>
            </button>
        </div>
    </form>

</ng-template>