<!-- begin::Row -->
<div class="row g-5 g-xl-8">
  <!-- begin::Col -->
  <div class="col-xl-4" *ngFor="let item of assignementData">

    <div class="card card-xl-stretch mb-xl-8">
      <div class="card-header">

        <div  class="d-flex align-items-center pe-2 ">
          <span class="text-muted text-center fw-bolder fs-5 flex-grow-1">{{item?.matiere?.nom || 'Pas de matières' }} </span>
        </div>

        <div class="symbol symbol-50px">
          <span *ngIf="item?.matiere?.photoProf" class="symbol-label bg-light">
            <img [src]="constructImagePath(item?.matiere?.photoProf)" class="h-50 align-self-center" alt="" />
          </span>
        </div>

      </div>

      <div class="card-body d-flex flex-column pb-10 pb-lg-15">
        
        <a href="#" class="text-dark fw-bolder text-hover-primary fs-1">
         {{item.nom}} 
        </a>
        
        <span>
          {{ item?.auteur?.nom || "Pas d' Auteur" }}
        </span>
      
      </div>

      <div class="card-footer d-flex justify-content-end" *ngIf="role == 'admin'">
        <button type="button" *ngIf="!item.rendu; else rendu" (click)="openModalRendu(item._id)" class="btn btn-secondary">
          A rendre
        </button>
        <ng-template #rendu>
          <button type="button" (click)="toDetailsPage(item._id)" class="btn btn-secondary">
            Voir Details
          </button>
        </ng-template>
        <button type="button" (click)="deleteAssignement(item._id)" class="btn btn-danger mx-1">
          <span *ngIf="loadingDeleteAssignement" class="spinner-border spinner-border-sm align-middle ms-2"></span>
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>

<div (click)="loadMore()" class="load-more fw-bolder text-hover-primary cursor-pointer d-flex justify-content-center" *ngIf="page != totalPages" >
  <span *ngIf="loadingDataAssignement" class="spinner-border spinner-border-sm align-middle ms-2"></span>
  <span>
    Load More
  </span>
</div>


<ng-template #updateAssignement let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Assignement à rendre</h4>
      <button type="button" class="btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <i class="fa-sharp fa-solid fa-xmark"></i>
      </button>
  </div>
  <div class="modal-body search-dynamic">
    <form [formGroup]="inputFormRendu">
        <!--begin::Input group-->
        <div class="fv-row mb-10">
          
          <!--begin::Input-->
          <div class="d-flex content-step__description">
              <!--begin::Label-->
              <label class="form-label">Note sur 20</label>
              <!--end::Label-->
              <input type="number" min="0" max="20" class="form-control form-control-solid" name="input1" formControlName="note"
                  placeholder="Ajoutez la note ici" value="" [ngClass]="{
                  'is-invalid':  (inputFormRendu.controls['note'].value.length != 0 && inputFormRendu.controls['note'].invalid) || (submittedRendu  && inputFormRendu.controls['note'].invalid),
                  'is-valid': inputFormRendu.controls['note'].value.length != 0 && inputFormRendu.controls['note'].valid 
                  }" />
              <div class="error-description">
                  <span *ngIf="submittedRendu && inputFormRendu.controls['note'].errors?.required">
                      La note est obligatoire
                  </span>
                  <span
                      *ngIf="inputFormRendu.controls['note'].errors?.max || inputFormRendu.controls['note'].errors?.min">
                      La note devrait entre 0 à 20
                  </span>
              </div>
          </div>
          <!--end::Input-->

          <!--begin::Input-->
          <div class="d-flex content-step__description mt-3">
            <!--begin::Label-->
            <label class="form-label">Remarques (optionnel)</label>
            <!--end::Label-->
            <textarea type="text" rows="8" min="0" max="20" class="form-control form-control-solid" name="input1" formControlName="remarques"
                placeholder="Ajoutez votre remarque ici" value="" [ngClass]="{
                'is-invalid':  (inputFormRendu.controls['remarques'].value.length != 0 && inputFormRendu.controls['remarques'].invalid) || (submittedRendu  && inputFormRendu.controls['remarques'].invalid),
                'is-valid': inputFormRendu.controls['remarques'].value.length != 0 && inputFormRendu.controls['remarques'].valid 
                }" ></textarea>
            <div class="error-description">
                <span *ngIf="submittedRendu && inputFormRendu.controls['remarques'].errors?.required">
                    La note est obligatoire
                </span>
                <span
                    *ngIf="inputFormRendu.controls['remarques'].errors?.maxlength || inputFormRendu.controls['remarques'].errors?.minlength">
                    Le remarque devrait entre 5 à 120 caractères
                </span>
            </div>
        </div>
        <!--end::Input-->


        </div>
        <!--end::Input group-->
    </form>
  </div>
  <div class="modal-footer">
      <button (click)="rendreAssignement()" type="submit" class="btn btn-primary mr-2">
          <span *ngIf="loadingRendu" class="spinner-border spinner-border-sm align-middle ms-2"></span>
          Rendre
      </button>
  </div>
</ng-template>