<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
    <div class="card-header cursor-pointer">
        <div class="card-title m-0">
            <h2 class="fw-bolder m-0">Details Assignement</h2>
        </div>  
    </div>

    <div class="card-body p-9">
        <div class="row mb-7">
            <label class="col-lg-4 fw-bold text-muted">ID Assignement</label>

            <div class="col-lg-8">
                <span class="fw-bolder fs-6 text-dark">{{assignementData?.assignment?._id}}</span>
            </div>
        </div>

        <div class="row mb-7">
            <label class="col-lg-4 fw-bold text-muted">Description</label>

            <div class="col-lg-8">
                <span class="fw-bolder fs-6 text-dark">{{assignementData?.assignment?.nom}}</span>
            </div>
        </div>

        <div class="row mb-7" *ngIf="assignementData?.assignment?.dateDeRendu">
            <label class="col-lg-4 fw-bold text-muted">Date de Rendu</label>

            <div class="col-lg-8">
                <span class="fw-bolder fs-6 text-dark">{{assignementData?.assignment?.dateDeRendu}}</span>
            </div>
        </div>

      
        <div class="load" *ngIf="assignementData?.matiere">
            <hr>

            <h3 style="margin: 30px 0;">
                Matière
            </h3>
    
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Nom de la Matière</label>
    
                <div class="col-lg-8 fv-row">
                    <span class="fw-bold fs-6">{{assignementData?.matiere?.nom || 'NA'}}</span>
                </div>
            </div>

            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Nom de la Professeur</label>
    
                <div class="col-lg-8 fv-row">
                    <span class="fw-bold fs-6">{{assignementData?.matiere?.prof?.nom || 'NA'}}</span>
                </div>
            </div>
    
            <div *ngIf="assignementData?.matiere?.prof?.image" class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Photo de Professeur</label>
    
                <div class="col-lg-8 fv-row">
                    <span class="fw-bold fs-6">{{assignementData?.matiere?.prof?.image || 'NA'}}</span>
                </div>
            </div>
        
        </div>

        <div class="load" *ngIf="assignementData?.matiere">
            <hr>

            <h3 style="margin: 30px 0;">
                Auteur
            </h3>

            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Identifiants de l'auteur</label>
    
                <div class="col-lg-8 fv-row">
                    <span class="fw-bold fs-6">{{assignementData?.auteur?._id || 'NA'}}</span>
                </div>
            </div>
    
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Nom de l'Auteur</label>
    
                <div class="col-lg-8 fv-row">
                    <span class="fw-bold fs-6">{{assignementData?.auteur?.nom || 'NA'}}</span>
                </div>
            </div>

            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Image de l'auteur</label>
    
                <div class="col-lg-8 fv-row">
                    <span class="fw-bold fs-6">{{assignementData?.auteur?.image || 'NA'}}</span>
                </div>
            </div>
        
        </div>



        <div class="cta-content mb-5">
            <button (click)="back()" type="button" class="btn btn-secondary mx-1"  >
                Revenir
            </button>
        </div>
    </div>
</div>