.end-part{
    display: flex;
}


.select-pagination-semwee{
    background: #f0f1f6;
    color: #a5a4bf;
    padding: 4px;
    border: none;
    outline: none;
    margin: 0 12px;
}

.disabled {
    i {
        color: #e6e6e3;
    }
}