<!-- begin::Header-->
<div class="card-header align-items-center border-0 mt-4">
  <h3 class="card-title align-items-start flex-column">
    <span class="fw-bolder mb-2 text-dark">Historique Etat Voiture</span>
  </h3>
  <div class="me-0">
      <button (click)="ctaFunction()" class="btn btn-sm btn-primary me-3 cursor-pointer" >
          Changer état
      </button>
  </div>

</div>


<!-- end::Header-->
<!-- begin::Body-->
<div class="card-body pt-5" *ngIf="stateHistory">
  
  <!-- begin::Timeline-->
  <div class="timeline-label">
    <div class="timeline-item" *ngIf="stateHistory.orderDate">
      <div class="timeline-label fw-bolder text-gray-800 fs-6">Commande</div>
      <div class="timeline-badge">
        <i class="fa fa-genderless text-warning fs-1"></i>
      </div>
      <div class="fw-mormal timeline-content text-muted ps-3">
         {{replaceTWithSpace(stateHistory.orderDate)}}
      </div>
    </div>
    <div class="timeline-item" *ngIf="stateHistory.importDate">
      <div class="timeline-label fw-bolder text-gray-800 fs-6">Importation</div>
      <div class="timeline-badge">
        <i class="fa fa-genderless text-warning fs-1"></i>
      </div>
      <div class="fw-mormal timeline-content text-muted ps-3">
         {{replaceTWithSpace(stateHistory.importDate)}}
      </div>
    </div>
    <div class="timeline-item" *ngIf="stateHistory.arrivedPortDate">
      <div class="timeline-label fw-bolder text-gray-800 fs-6">Arrivé en Port</div>
      <div class="timeline-badge">
        <i class="fa fa-genderless text-warning fs-1"></i>
      </div>
      <div class="fw-mormal timeline-content text-muted ps-3">
         {{replaceTWithSpace(stateHistory.arrivedPortDate)}}
      </div>
    </div>
    <div class="timeline-item" *ngIf="stateHistory.unloadingDate">
      <div class="timeline-label fw-bolder text-gray-800 fs-6">Déchargement</div>
      <div class="timeline-badge">
        <i class="fa fa-genderless text-warning fs-1"></i>
      </div>
      <div class="fw-mormal timeline-content text-muted ps-3">
         {{replaceTWithSpace(stateHistory.unloadingDate)}}
      </div>
    </div>
    <div class="timeline-item" *ngIf="stateHistory.onWayDate">
      <div class="timeline-label fw-bolder text-gray-800 fs-6">En Route</div>
      <div class="timeline-badge">
        <i class="fa fa-genderless text-warning fs-1"></i>
      </div>
      <div class="fw-mormal timeline-content text-muted ps-3">
         {{replaceTWithSpace(stateHistory.onWayDate)}}
      </div>
    </div>
    <div class="timeline-item" *ngIf="stateHistory.inStockDate">
      <div class="timeline-label fw-bolder text-gray-800 fs-6">En Stock</div>
      <div class="timeline-badge">
        <i class="fa fa-genderless text-warning fs-1"></i>
      </div>
      <div class="fw-mormal timeline-content text-muted ps-3">
         {{replaceTWithSpace(stateHistory.inStockDate)}}
      </div>
    </div>
    <div class="timeline-item" *ngIf="stateHistory.soldDate">
      <div class="timeline-label fw-bolder text-gray-800 fs-6">Vente</div>
      <div class="timeline-badge">
        <i class="fa fa-genderless text-warning fs-1"></i>
      </div>
      <div class="fw-mormal timeline-content text-muted ps-3">
         {{replaceTWithSpace(stateHistory.soldDate)}}
      </div>
    </div>
    <div class="timeline-item" *ngIf="stateHistory.deliveredDate">
      <div class="timeline-label fw-bolder text-gray-800 fs-6">Vente</div>
      <div class="timeline-badge">
        <i class="fa fa-genderless text-warning fs-1"></i>
      </div>
      <div class="fw-mormal timeline-content text-muted ps-3">
         {{replaceTWithSpace(stateHistory.deliveredDate)}}
      </div>
    </div>
  </div>
  <!-- end::Timeline-->
</div>
<!-- end: Card Body-->

<div class="no__etat" *ngIf="!stateHistory">
  <span> Aucun état sur ce Voiture</span>
</div>